*
!/**/
!*.*
.cache
.zig-cache/
zig-cache/
zig-out/
*.elf
*.bin
*.o
*.out
.xmake
.tmp
build
!bitou/build

Lib
fork
!Makefile
zig-bench/large-file.json
*.otf
!Fy/assets/*.otf
*.wasm
*.lib
*.pdb
windt/lib/examples/.vs/*
*.zip
node_modules

